<div id="<%= dom_id paciente %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome completo:</strong>
    <%= paciente.nome_completo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= paciente.cpf %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data nascimento:</strong>
    <%= paciente.data_nascimento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Enfermidade:</strong>
    <%= paciente.enfermidade %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estado civil:</strong>
    <%= paciente.estado_civil %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Endereco completo:</strong>
    <%= paciente.endereco_completo %>
  </p>

</div>
