<div class="w-full h-full flex justify-center items-center">
<div class="flex flex-col bg-white  w-96 h-96 border-1 border px-8 py-8 rounded-xl drop-shadow-lg justify-around">
<h2 class="text-4xl">Login</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'rounded-md w-full'%>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:'rounded-md w-full' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions grid grid-col-1 gap-2">
   <%= f.submit "Entrar", class:"rounded-lg py-3 px-5 bg-blue-500 hover:bg-blue-600 text-white cursor-pointer inline-block font-medium"%>
   <div class="flex justify-between">
    <%= render ("devise/shared/links")%>
   </div>
   

  </div>
<% end %>

</div>



</div>


