<!DOCTYPE html>
<html>
  <head>
    <title>Cuidadoria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body class="min-h-screen antialiased flex flex-col bg-gray-100">
    <%= render 'layouts/navbar' %>
      <% if @is_welcome_route %>
    <main class="w-full blue-back">
      <%= yield %>
    </main>
  <% else %>
    <main class="w-full mt-28 mb-8 px-5">
      <%= yield %>
    </main>

  <% end %>

  </body>
</html>
